@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html{
  font-family: 'Raleway', sans-serif;
}
body{
  height: 100%; 
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  background-color: #e8ecf1;
}
.text-style{
  color: rgb(32, 31, 31);
}
.textShadow{
  text-shadow: 3px 5px 5px grey;
}
.section{
  width: 100%;
  height: 100vh;
}
.home{
  padding-top: 15vh;
}
.white-background{
  background-color: #eff1f5;
}
.padding-5{
  padding-top: 5vh;
}

/* .slide-bar{
  animation: slide-down 3000ms ;
} */

@keyframes slide-down {
  0%{
   opacity:0;
   transform: translateY(-200%); 
  }
 
 100% {
   opacity:1;
   transform: translateY(0);
  }
 }

 .loading{
   position: absolute;
   top: 4vh;
   width: 80px;
   left: calc(50vw - 40px);
   z-index: 2;
   animation: slide-down 300ms ease ;
 }


 @media screen and  (min-width: 320px){
   .medium-text{
     font-size: 3vmin;
   }
   .divider{
    height: 0.3vh;
   }
   .paper-container{
    width: 80vw;
    height: 11vh;
  }
  .all-progress-container{
    height: 40vh;
    /* background-color: black; */
  }
 }
  @media screen and  (min-width: 760px){
    .medium-text{
      font-size: 1.9vmin;
      text-align: center;
    }
    .divider{
      height: 0.8vh;
    }
    .paper-container{
      height: 10vh;
      justify-items: center;
      align-items: center;
    }
    .all-progress-container{
      height: 42vh;
    }
  }
  @media screen and  (min-width: 1085px){
    .medium-text{
      font-size: 1.8vmin;
    }
    .paper-container{
      width: 50vw;

    }
    .all-progress-container{
      height: 50vh;
    }
    #about-skills{
      margin-top: 10vh;
    }
  }


  .paper-container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    background-color: #f5f6fa;
    color: rgb(61, 61, 61);
    box-shadow: 2px 2px 8px grey;
  }
  .icon{
    position: absolute;
    justify-self: center;
    align-self: center;
    color: white;
    z-index: 2;
  }
  .badge-icon-container{
    display: grid;
    margin-top: 2vh;
  }

  .center-text{
    text-align: center;
  }
  p{
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .font-light{
    font-weight: 400;
  }
  .font-bolder{
    font-weight: bolder;
  }
  .font-bold{
    font-weight: light;
  }

  .header{
    font-size: 4vh;
    margin-top: 2vh;
  }
  .header-line{
    border-top: 5px solid #FF6B6B;
    width: 15vh;
  }
  .not-selectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  #education-container{
    margin-top: 2vh;
}
  #projects-container{
    margin-top: 2vh;
}
