:root{
    --white-background: #eff1f5;
    --shadow-grey: grey;
    --dark-grey: #252934;
    --darker-grey: #181a20;
    --white: white;
    --asphalt: #34495e;
    --red: #FF6B6B;
    --paper-background: #f5f6fa;
    --lightCyan: #04c2c9;
    --darkCyan: #00a1a7;
}