/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#contact-container div{
    margin-top: calc(var(--vh, 1vh) * 3);
}
.center{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0fr 1fr;
    grid-template-columns: 0fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.icon-contact{
    cursor: pointer;
}

#icons-container{
    margin-top: calc(var(--vh, 1vh) * 2);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.cyan{
    color: var(--darkCyan);
}
.icon-c{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.icon-c:hover{
    opacity: 0.8;
}
#contact-container{
    margin-top: calc(var(--vh, 1vh) * 2);
    border-radius: 5px;
    padding: calc(var(--vh, 1vh) * 2);
    background-color: var(--paper-background);
    color: rgb(61, 61, 61);
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 2px 8px var(--shadow-grey);
            box-shadow: 2px 2px 8px var(--shadow-grey);
  }