.intro{
    font-size: 6vmin;
}
.medium-text-home{
    font-size: 4vmin;          
}

.my-image {
    border-radius: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 20);
    box-shadow: 2px 8px 8px grey;
}