/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.card-container{
    margin-top: calc(var(--vh, 1vh) * 2);;
    border-radius: 6px!important;
}

.card-media {
    width: 80%!important;
    height: auto;
}
.card-media-projects {
    width: 90%!important;
    height: auto;
    -webkit-box-shadow: 2px 2px 8px var(--shadow-grey);
            box-shadow: 2px 2px 8px var(--shadow-grey);
    border-radius: 3px;
}

.card-media-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
}
.card-media-container-projects {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
}
.inverted{
   -webkit-transform: scaleX(-1)!important;
       -ms-transform: scaleX(-1)!important;
           transform: scaleX(-1)!important; 
}
.btn {
    width: 100%;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: var(--white);
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn:hover {
    opacity: 0.8;
}
.in-progress{
    background: -o-linear-gradient(135deg, #2c3e50,#dadee0,#dadee0);
    background: linear-gradient(-45deg, #2c3e50,#dadee0,#dadee0);
    background-size: 400% 400%;
    -webkit-animation: move 5s ease-in-out infinite;
            animation: move 5s ease-in-out infinite;
}
@-webkit-keyframes move{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes move{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 320px) {
    .card {
        width: 40vw;
        /* height: calc(var(--vh, 1vh) * 34); */
    }
    .card-media-container, .card-media-container-projects{
        height: calc(var(--vh, 1vh) * 16.5);
    }
    .content-container {
        height: calc(var(--vh, 1vh) * 14);
    }
    .btn {
        height: calc(var(--vh, 1vh) * 5.5);
    }
    .btn-icon {
        font-size: 5vmin!important;
    }
    .speaking-person{
        font-size: 10vmin!important;
    }
}

@media screen and (min-width: 760px) {
    .card {
        width: 35vw;
        height: calc(var(--vh, 1vh) * 35);
    }
    .content-container {
        height: calc(var(--vh, 1vh) * 11);
    }
    .btn {
        height: calc(var(--vh, 1vh) * 7.5);
    }
    .btn-icon {
        font-size: 4vmin!important;
    }
}

@media screen and (min-width: 1085px) {
    .card {
        width: 20vw;
        height: calc(var(--vh, 1vh) * 45);
    }
    .card-media-container, .card-media-container-projects{
        height: calc(var(--vh, 1vh) * 28);
    }
    .btn {
        height: calc(var(--vh, 1vh) * 7);
    }
    .btn-icon {
        font-size: 4vmin!important;
    }
}