/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.square {
    position: absolute;
    top: 0;
  }
.dark{
    background: var(--red);
}
.light{
      background: var(--lightCyan);
  }
.nonagon-container{
    position: relative;
}
@media screen and  (min-width: 320px){
    .square,.nonagon-container{
        width: 3.5875vh;
        height: 8.75vh;
    }
  }
   @media screen and  (min-width: 760px){
    .square,.nonagon-container{
        width: 3.84vh;
        height: 9.25vh;
    }
   }
   @media screen and  (min-width: 1085px){
    .square,.nonagon-container{
        width: 5.125vh;
        height: 12.5vh;
    }
   }