/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.square {
    position: absolute;
    top: 0;
  }
.dark{
    background: var(--red);
}
.light{
      background: var(--lightCyan);
  }
.nonagon-container{
    position: relative;
}
@media screen and  (min-width: 320px){
    .square,.nonagon-container{
        width: calc(var(--vh, 1vh) * 3.5875);
        height: calc(var(--vh, 1vh) * 8.75);
    }
  }
   @media screen and  (min-width: 760px){
    .square,.nonagon-container{
        width: calc(var(--vh, 1vh) * 3.84);
        height: calc(var(--vh, 1vh) * 9.25);
    }
   }
   @media screen and  (min-width: 1085px){
    .square,.nonagon-container{
        width:  calc(var(--vh, 1vh) * 5.125);
        height: calc(var(--vh, 1vh) * 12.5);
    }
   }