/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#tabs{
    width: 100%;
    position: fixed;
    height: calc(var(--vh, 1vh) * 6);;
    top: 0;
    background-color: var(--dark-grey);
    z-index: 4;
}
.tab-container{
    cursor: pointer;
    color: var(--white);
    height: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-left: 1px solid rgba(255, 255, 255, 0.194);
    border-right: 1px solid rgba(255, 255, 255, 0.194);
    
}
.selected-tab{
    color: var(--darkCyan);
}
@media (hover: hover) {
    .tab-container:hover{
        color: var(--darkCyan);
    }
}